{% if section.blocks.size > 0 and section.settings.show_announcement_bar %}
  <div class="custom-announcement-bar swiper-container">
    <div class="custom-messages swiper-wrapper">
      {% for block in section.blocks %}
        <div class="custom-message swiper-slide">{{ block.settings.message }}</div>
      {% endfor %}
    </div>
    <!--
      <div class="custom-swiper-button swiper-button-prev"></div>
      <div class="custom-swiper-button swiper-button-next"></div>
    -->
  </div>
  <!-- code by websensepro.com -->
  <script src="//cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
  <script>
    const swiper = new Swiper('.custom-announcement-bar', {
      {% if section.settings.autoplay %}
      autoplay: {delay: {{section.settings.delay}} },
      {% endif %}
      loop: true,
      navigation: {
        nextEl: '.custom-swiper-button-next',
        prevEl: '.custom-swiper-button-prev',
      },
    });
  </script>
  <style>
    .custom-announcement-bar{
      background:{{section.settings.colorBackground}};
      position: relative;
      overflow: hidden;
    }
    .custom-announcement-bar .custom-message{
      text-align:center;
      color:{{section.settings.colorText}};
      padding:0;
    }
    .custom-announcement-bar .swiper-button-next:after, .custom-announcement-bar .swiper-container-rtl .swiper-button-prev:after,
    .custom-announcement-bar .swiper-button-prev:after, .custom-announcement-bar .swiper-container-rtl .swiper-button-next:after{
      font-size: 15px;
      color:{{section.settings.colorText}};
    }
    {% if  section.blocks.size < 2 %}
    .custom-announcement-bar .custom-swiper-button{display:none!important;}
    {% endif %}
    .custom-swiper-button {
      display: block !important;
      top: 75% !important;
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Custom Announcement Bar",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_announcement_bar",
        "label": "Show"
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Autoplay"
      },
      {
        "type": "text",
        "id": "delay",
        "label": "Delay between transitions (in ms)",
        "default": "5000"
      },
      {
        "type": "color",
        "id": "colorBackground",
        "label": "Background color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "colorText",
        "label": "Text color",
        "default": "#000"
      }
],
"blocks": [
      {
        "type": "header",
        "name": "Message",
        "settings": [
{
              "id": "message",
              "type": "textarea",
             "label": "Message"
            }
        ]
      }
]
  }
{% endschema %}
