{{ 'section-testimonials.css' | asset_url | stylesheet_tag }}

<div class="container">
  <!-- <h2>{{ section.settings.title }}</h2> -->
  <div class="testimonial">
    {%- if section.blocks.size > 0 -%}
      <div class="custom-announcement-bar swiper-container">
        <div class="custom-messages swiper-wrapper">
          {%- for block in section.blocks -%}
            <div class="test custom-message swiper-slide">
              <div class="image">
                {%- if block.settings.image != blank -%}
                  {{ block.settings.image | image_url: width: 150 | image_tag }}
                {%- endif -%}
              </div>
              <div class="text">
                <blockquote>
                  {%- if block.settings.quote != blank -%}
                    <p>
                      {{ block.settings.quote }}
                    </p>
                  {%- endif -%}
                </blockquote>

                {%- if block.settings.author != blank -%}
                  <cite class="author">
                    {{ block.settings.author }}
                  </cite>
                {%- endif -%}
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  </div>
</div>

<script src="//cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
<script>
  const swiper1 = new Swiper('.custom-announcement-bar', {
    {% if section.settings.autoplay %}
    autoplay: {delay: {{section.settings.delay}} },
    {% endif %}
    loop: true,
    navigation: {
      nextEl: '.custom-swiper-button-next',
      prevEl: '.custom-swiper-button-prev',
    },
  });
</script>

{% schema %}
{
  "name": "Testimonials",
  "class": "index-section",
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Testimonials"
    },
    {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Autoplay"
    },
    {
        "type": "text",
        "id": "delay",
        "label": "Delay between transitions (in ms)",
        "default": "5000"
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "Testimonial",
      "settings": [
        {
          "type": "richtext",
          "id": "quote",
          "label": "Text",
          "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "Author’s name"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials",
      "category": "Text",
      "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    }
  ]
}
{% endschema %}
